export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_SESSION_TOKEN=
export AWS_ACCOUNT_ID=
export AWS_DEFAULT_REGION=
export MONGODB_ATLAS_PRIVATE_KEY=
export MONGODB_ATLAS_PUBLIC_KEY=
export MONGODB_ATLAS_PROJECT_ID=
export MONGODB_HOST=
export DOMAIN=
